# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
venv/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env
.env.*

# OS
Thumbs.db

# Build
dist/
build/
out/

# IDEs
.vscode/
.idea/

# Docker
*.pid
docker-compose.override.yml

# Database
*.sqlite
*.db

# Misc
coverage/
*.bak
